.toast-custom {
  animation: move 1s both;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  margin-top: 1rem;
  padding: 0.75rem 1.25rem;
  position: fixed;
  right: 10px;
  top: 0px;
  width: 300px;
  max-height: 120px;
  z-index: 10;
}

.toast-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.close {
  position: absolute;
  top: 7px;
  right: 10px;
  font-size: 1.5em;
  cursor: pointer;
  text-decoration: none;
  color: #155724;
  &:hover {
    color: #155724;
  }
}

.toast-heading {
  margin-top: 10px;
}

@keyframes move {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
