<mat-dialog-content>
  <form novalidate [formGroup]="form">

    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="full-width" [class.mgb15]="title?.dirty && title?.invalid">
            <input matInput placeholder="Titre" formControlName="title" minlength="2" required name="title" />
            <mat-error *ngIf="title?.dirty && title?.hasError('required')">
              Titre is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="title?.dirty && title?.hasError('minlength')">
              Titre is <strong>2 chars min</strong>
            </mat-error>
          </mat-form-field>

        </td>
        <td class="align-right">
          <img class="img-profil " [src]="photo?.value" *ngIf="isUpdateMode" />
        </td>
      </tr>
    </table>

    <div class="form-group col-md-6">
      <mat-form-field appearance="fill">
        <mat-label>Date de debut</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dateBegin">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div class="text-danger" *ngIf="dateBegin.touched && dateBegin?.hasError('required')">
        Date de debut requise
      </div>
    </div>


    <div class="form-group col-md-6">
      <mat-form-field appearance="fill">
        <mat-label>Date de fin</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="dateEnd">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <div class="text-danger" *ngIf="dateEnd.touched && dateEnd?.hasError('required')">
        Date de fin requise
      </div>
    </div>


    <p>
      <mat-form-field class="full-width">
        <textarea matInput placeholder="Description" formControlName="description" required
          name="description"></textarea>
        <mat-error *ngIf="description?.dirty && description?.hasError('required')">
          Description is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="description?.dirty && !description?.hasError('minLength') ">
          Description est <strong>2 chars min</strong>
        </mat-error>
      </mat-form-field>
    </p>


    <p>
      <label>Detail</label>
      <ckeditor formControlName="detail" data=""></ckeditor>
      <mat-error *ngIf="detail?.dirty && detail?.hasError('required')">
        Detail est <strong>requis</strong>
      </mat-error>
    </p>

    <p>
      <mat-form-field class="full-width" [class.mgb15]="price?.dirty && price?.invalid">
        <input type="number" matInput placeholder="Estimation du prix" formControlName="price" minlength="2" required
          name="price" />
        <mat-error *ngIf="price?.dirty && price?.hasError('required')">
          Prix est <strong>requis</strong>
        </mat-error>
        <mat-error *ngIf="price?.dirty && price?.hasError('min')">
          Prix est <strong>0 min</strong>
        </mat-error>
      </mat-form-field>


    </p>
    <p>
      <mat-form-field class="full-width">
        <input matInput placeholder="Ville" formControlName="city" required name="ville" />
        <mat-error *ngIf="city.dirty && city.hasError('required')">
          Ville est <strong>requise</strong>
        </mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="full-width">
        <input matInput placeholder="Pays" formControlName="country" readonly name="country" value={{this._country}} />
      </mat-form-field>
    </p>

    <p>
      <input (change)="onFileChange($event)" type="file" class="form-control" accept="image/*">
    </p>

    <!-- required by API, so we put static content which is not editable but sent to the API -->
  </form>
</mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-button type="button" (click)="cancel()">Cancel</button>
  <button mat-button color="primary" (click)="submit(form.value)" [disabled]="form.invalid">Publier</button>
</mat-dialog-actions>