<mat-dialog-content>
  <form novalidate [formGroup]="form">

    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="full-width" [class.mgb15]="title?.dirty && title?.invalid">
            <input matInput placeholder="Titre" formControlName="title" minlength="2" required name="title" />
            <mat-error *ngIf="title?.dirty && title?.hasError('required')">
              Titre is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="title?.dirty && title?.hasError('minlength')">
              Titre is <strong>2 chars min</strong>
            </mat-error>
          </mat-form-field>

        </td>
        <td class="align-right">
          <!-- not required by API, so we put static content which is not editable and not sent to the API -->
          <img width="112" [src]="photo?.value" />
        </td>
      </tr>
    </table>

    <p>
      <mat-form-field class="full-width">
        <textarea matInput placeholder="Description" formControlName="description" required
          name="description"></textarea>
        <mat-error *ngIf="description?.dirty && description?.hasError('required')">
          Organisateur is <strong>required</strong>
        </mat-error>
        <mat-error
          *ngIf="description?.dirty && !description?.hasError('required') && form.get('email')?.hasError('googleEmail')">
          Description est <strong>2 chars min</strong>
        </mat-error>
      </mat-form-field>
    </p>

    <p formGroupName="destination">
      <mat-form-field class="full-width">
        <input matInput placeholder="Ville" formControlName="city" required name="ville" />
        <mat-error *ngIf="city.dirty && city.hasError('required')">
          Ville est <strong>requise</strong>
        </mat-error>
      </mat-form-field>
    </p>

    <p formGroupName="destination">
      <mat-form-field class="full-width">
        <input matInput placeholder="Pays" formControlName="country" required name="country" />
        <mat-error *ngIf="country?.dirty && country?.hasError('required')">
          Pays is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </p>

    <p>
      <input (change)="onFileChange($event)" type="file" class="form-control" accept="image/*">
    </p>

    <!-- required by API, so we put static content which is not editable but sent to the API -->
  </form>
</mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-button type="button" (click)="cancel()">Cancel</button>
  <button mat-button color="primary" (click)="submit(form.value)" [disabled]="form.invalid">Publier</button>
</mat-dialog-actions>