<mat-dialog-content>
  <form novalidate [formGroup]="form">

    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="full-width" [class.mgb15]="firstname?.dirty && firstname?.invalid">
            <input matInput placeholder="Prenom" formControlName="firstname" minlength="2" requis name="firstname" />
            <mat-error *ngIf="firstname?.dirty && firstname?.hasError('requis')">
              Prenom est <strong>request</strong>
            </mat-error>
            <mat-error *ngIf="firstname?.dirty && firstname?.hasError('minlength')">
              Prenom est <strong>2 chars min</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Nom" formControlName="lastname" minlength="2" requis name="lastname" />
            <mat-error *ngIf="lastname?.dirty && lastname?.hasError('requis')">
              Nom est <strong>requis</strong>
            </mat-error>
            <mat-error *ngIf="lastname?.dirty && lastname?.hasError('minlength')">
              Nom est <strong>2 chars min</strong>
            </mat-error>
          </mat-form-field>
        </td>
        <td class="align-right">
          <img class="img-profil" [src]="form.get('photo')?.value" />
        </td>
      </tr>
    </table>

    <p>
      <mat-form-field class="full-width">
        <input type="email" matInput placeholder="Email" formControlName="email" requis name="email" />
        <mat-error *ngIf="email?.dirty && email?.hasError('requis')">
          Email est <strong>requis</strong>
        </mat-error>
        <mat-error *ngIf="email?.dirty && !email?.hasError('requis') && email?.hasError('googleEmail')">
          Invalid email <strong>(ex: name.firstname@gmail.com)</strong>
        </mat-error>
      </mat-form-field>
    </p>

    <p>
      <input (change)="onFileChange($event)" type="file" class="form-control" accept="image/*">
    </p>

    <p>
      <mat-form-field appearance="fill">
        <mat-label>Date de naissance</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="birthDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="birthDate?.dirty && birthDate?.hasError('requis')">
          Date de naissance est <strong>requise</strong>
        </mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="full-width">
        <input matInput placeholder="Address" formControlName="address" requis name="address" />
        <mat-error *ngIf="address?.dirty && address?.hasError('requis')">
          Addresse est <strong>requise</strong>
        </mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="full-width">
        <input matInput placeholder="Ville" formControlName="city" requis name="city" />
        <mat-error *ngIf="city?.dirty && city?.hasError('requis')">
          Ville est <strong>requise</strong>
        </mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="full-width">
        <input matInput placeholder="Code postal" formControlName="postalCode" requis name="postalCode" />
        <mat-error *ngIf="postalCode?.dirty && postalCode?.hasError('requis')">
          Code postal est <strong>requis</strong>
        </mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="full-width">
        <textarea matInput placeholder="Description" formControlName="description" requis name="description"></textarea>
        <mat-error *ngIf="description?.dirty && description?.hasError('requis')">
          Description est <strong>requise</strong>
        </mat-error>
        <mat-error *ngIf="description?.dirty && description?.hasError('minlength')">
          Description est <strong>10 chars min</strong>
        </mat-error>
      </mat-form-field>
    </p>


  </form>
</mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-button type="button" (click)="cancel()">Cancel</button>
  <button mat-button color="primary" (click)="submit(form.value)" [disabled]="form.invalid">Save</button>
</mat-dialog-actions>