.trip-card {
  width: 400px;
  margin-bottom: 8px;
  overflow-x: unset;
}

.img-profil {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: top;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

::ng-deep .mat-list-item {
  overflow-x: unset !important;
}

::ng-deep mat-grid-tile {
  overflow-x: unset !important;
}

::ng-deep .mat-card-image:first-child {
  margin-top: 0 !important;
  border-top-left-radius: 50% !important;
  border-top-right-radius: 50% !important;
}

::ng-deep .mat-grid-tile-content {
  position: unset;
}

::ng-deep app-trip {
  padding: 10px;
}

::ng-deep mat-grid-tile {
  padding-top: 0 !important;
}
