.card {
  margin: 20px;
}

.img-profil {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: contain;
  object-fit: cover;
  object-position: top;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

::ng-deep .mat-list-item {
  overflow-x: unset !important;
}
