<mat-card class="trip-card">
  <mat-card-header>
    <div mat-card-avatar class="trip-header-image"></div>
    <mat-card-title>{{trip?.title}}</mat-card-title>
    <mat-card-subtitle>{{trip?.country}}</mat-card-subtitle>
  </mat-card-header>
  <div class="flex">
    <img class="img-profil" mat-card-image [src]="trip.photo||defaultImg">
  </div>
  <mat-card-content>
    <p>
      {{trip?.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button><mat-icon>travel_explore</mat-icon></button>
  </mat-card-actions>
</mat-card>
