.img-profil {
  width: 20%;
  height: 20%;
  object-fit: contain;
  object-position: center;
}

::ng-deep.trip-card {
  width: 100%;
  overflow-x: unset;
}

::ng-deep .mat-list-item {
  overflow-x: unset;
}

.trip-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex {
  width: 100%;
  display: flex;
  justify-content: center;
}

.flex-sugg {
  min-height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
