.img-profil {
  object-fit: contain;
  object-fit: cover;
  max-height: 450px;
  min-height: 425px;
}

.flex-sugg {
  min-height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.bg {
  height: 340px;
  background: linear-gradient(219deg, #3f51b5 0%, rgb(245 245 245) 81%);
  width: 100%;
  position: absolute;
  top: 70px;
  left: 0;
  z-index: -1;
  overflow: hidden;
}
.mt40 {
  margin-top: 40px !important;
}

.project__figure {
  height: 425px;
  width: 100%;
  border-radius: 3px;
  position: relative;
  box-shadow: -10px 12px 14px rgb(0 0 0 / 7%);
}
.figure {
  margin: 0;
}

.project__figure > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 300px;
  margin-bottom: 0;
  object-fit: cover;
}

img {
  vertical-align: middle;
  border-style: none;
}

.title-h2 {
  font-size: 34px;
  line-height: 44px;
  color: #2a2a2a;
  font-family: "Roboto";
  margin-bottom: 20px;
}
.project__tagline {
  color: #2a2a2a;
  font-size: 21px;
  line-height: 28px;
  position: relative;
  padding-left: 15px;
  margin: 0;
  font-weight: normal;
}

.project__section {
  padding: 20px 30px;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  background: white;
  min-height: 425px;
}

.mb30 {
  margin-bottom: 30px !important;
}

.project__main-section {
  padding: 10px 0;
  color: #2a2a2a;
}

.project__main-section {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #2a2a2a;
  font-family: "Roboto";
}
.project__main-section {
  padding: 10px 0;
  color: #2a2a2a;
}

.project__gauge .row > div {
  font-size: 16px;
  line-height: 20px;
  color: #363636;
  margin-top: 10px;
  font-weight: normal;
}

.js-collect-goal {
  text-align: center;
}
