<footer class="footer bg-dark">
    <div class="container footer-media" style="padding-top: 18px;">
        <div class="row">
            <div class="col-3 part1-media">
                <p class="text-light mt-3"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor
                    incididunt ut labore
                    et
                    dolore magna aliqua</p>
                <div class="margin-t ocial-media">
                    <a href="https://www.facebook.com"><img src="assets/social/fb.png" class="ico me-3" width="30px"
                            height="30px" alt=""></a>
                    <a href="https://www.instagram.com/?hl=fr"><img src="assets/social/ig.png" class="ico me-3"
                            width="30px" height="30px" alt=""></a>
                    <a href="https://twitter.com/home?lang=fr"><img src="assets/social/tw.png" class="ico me-3"
                            width="30px" height="30px" alt=""></a>
                    <a href="https://www.whatsapp.com/?lang=fr"><img src="assets/social/ws.png" class="ico me-3"
                            width="30px" height="30px" alt=""></a>
                </div>
            </div>
            <div class="col-6 part2-media">
                <ul class="text-small">
                    <li class="mb-2"><a class="link-secondary li-color" [routerLink]="['/']">Accueil</a></li>
                    <li class="mb-2"><a class="link-secondary li-color" [routerLink]="['/']">Voyages</a></li>
                </ul>
            </div>
            <div class="col-3 part3-media">
                <form>
                    <div class="d-flex flex-column justify-content-center mt-2">
                        <h5 class="newsletter-title">Subscribe to our newsletter</h5>
                        <input type="text" class="form-control input-media margin-t"
                            style="min-width: 398;max-width: 398;" aria-label="Sizing example input"
                            placeholder="E-mail">
                        <div style="align-self: flex-end;">
                            <button type="button" class="btn btn-light margin-t"><i
                                    class="fas fa-newspaper"></i>&nbsp;Subscribe</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="bottom-b" style="padding-bottom:18px;">
            <div>
                <span class="text-muted text-center li-color"><i class="fa fa-copyright" aria-hidden="true"></i>
                    Company - {{year}} - All rights reserved
                </span>
            </div>
            <div><span class="text-muted text-center li-color">
                    <a class="balise-a">Conçu & Propulsé par Company</a>
                </span>
            </div>
        </div>
    </div>

</footer>