<mat-toolbar style="background: #363636;color:#f5889b" >
     <span class="fill-space"></span>
  <div class="margin-t ocial-media">
        <a href="https://www.facebook.com"><img src="assets/social/fb.png" class="ico me-3" width="30px"
                                                height="30px" alt=""></a>
        <a href="https://www.instagram.com/?hl=fr"><img src="assets/social/ig.png" class="ico me-3"
                                                        width="30px" height="30px" alt=""></a>
        <a href="https://twitter.com/home?lang=fr"><img src="assets/social/tw.png" class="ico me-3"
                                                        width="30px" height="30px" alt=""></a>
        <a href="https://www.whatsapp.com/?lang=fr"><img src="assets/social/ws.png" class="ico me-3"
                                                         width="30px" height="30px" alt=""></a>
</div>
    <span class="fill-space"></span>

        <button mat-button [routerLink]="['/']">Acceuil</button>
        <button mat-button [routerLink]="['/trips-list']">Voyages</button>
        <button mat-button [routerLink]="['/contact']">Contact</button>

  <span class="fill-space"></span>
</mat-toolbar>


