<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="travlerFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>

<h4 class="mat-subheading-1">Voyageur</h4>
<table mat-table [dataSource]="_travelerTrips" class="mat-elevation-z8" *ngIf="_travelerTrips.length>0">
  <ng-container matColumnDef="photo">
    <th mat-header-cell *matHeaderCellDef> Photo </th>
    <td mat-cell *matCellDef="let e"> <img [src]="e.photo||defaultImg" class="card-img-top" alt="..."></td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Titre </th>
    <td mat-cell *matCellDef="let e"> {{e.title}} </td>
  </ng-container>

  <ng-container matColumnDef="createdBy">
    <th mat-header-cell *matHeaderCellDef> Oragnisateur </th>
    <td mat-cell *matCellDef="let e"> {{e.createdBy}} </td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let e"> {{e.description}} </td>
  </ng-container>
  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef> Ville </th>
    <td mat-cell *matCellDef="let e"> {{e.city}} </td>
  </ng-container>

  <ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef> Pays </th>
    <td mat-cell *matCellDef="let e"> {{e.country}} </td>
  </ng-container>
  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef> Date de création </th>
    <td mat-cell *matCellDef="let e"> {{e.createdAt| date:'longDate'}} </td>
  </ng-container>

  <ng-container matColumnDef="Annuler">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let e">
      <a mat-raised-button color="warn" (click)="cancel(e.id)"><mat-icon>cancel</mat-icon></a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="colTravelertrips"></tr>
  <tr mat-row *matRowDef="let row; columns: colTravelertrips;"></tr>
</table>
<p *ngIf="_travelerTrips.length<=0">
  Aucun voyage
</p>

<br>
<h4 class="mat-subheading-1 accent-color ">Organisateur</h4>
<table mat-table [dataSource]="_userTrips" class="mat-elevation-z8" *ngIf="_userTrips.length>0">
  <ng-container matColumnDef="photo">
    <th mat-header-cell *matHeaderCellDef> Photo </th>
    <td mat-cell *matCellDef="let e"> <img [src]="e.photo||defaultImg" class="card-img-top" alt="..."></td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Titre </th>
    <td mat-cell *matCellDef="let e"> {{e.title}} </td>
  </ng-container>

  <ng-container matColumnDef="travelers">
    <th mat-header-cell *matHeaderCellDef> Voyageurs </th>
    <td mat-cell *matCellDef="let e">
      <div *ngFor="let t of e.travelers">
        <p>{{t.traveler}}</p>
        <a mat-raised-button color="warn" (click)="accept(e.id,t)"
          *ngIf="t.accept == null && t.decline !=true">Accepter</a>
        <a mat-raised-button color="warn" (click)="decline(e.id,t)"
          *ngIf="t.decline == null && t.accept !=true">Rejeter</a>
      </div>

    </td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let e"> {{e.description}} </td>
  </ng-container>
  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef> Ville </th>
    <td mat-cell *matCellDef="let e"> {{e.city}} </td>
  </ng-container>

  <ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef> Pays </th>
    <td mat-cell *matCellDef="let e"> {{e.country}} </td>
  </ng-container>
  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef> Date de création </th>
    <td mat-cell *matCellDef="let e"> {{e.createdAt| date:'longDate'}} </td>
  </ng-container>

  <ng-container matColumnDef="Modifier">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let e">
      <a mat-raised-button color="warn" (click)="update(e.id)"><mat-icon>edit</mat-icon></a>
    </td>
  </ng-container>

  <ng-container matColumnDef="Supprimer">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let e">
      <a mat-raised-button color="warn" (click)="delete(e.id)"><mat-icon>delete</mat-icon></a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="colUserTrips"></tr>
  <tr mat-row *matRowDef="let row; columns: colUserTrips;"></tr>
</table>
<p *ngIf="_userTrips.length<=0">
  Aucun voyage organisé
</p>
