<mat-toolbar>
  <a [routerLink]="['/']"><img class="logo" src="assets/logo.png"></a>
  <button mat-button [routerLink]="['/trips-list']">Voyage</button>
  <button mat-button [routerLink]="['/contact']">Contact</button>

  <span class="fill-space"></span>
  <button color="primary" mat-button [routerLink]="['/login']" *ngIf="!(userService.currentUser$ |async)">Se
    connecter</button>

  <button mat-button color="accent" *ngIf="(userService.currentUser$ |async) as name"
    [matMenuTriggerFor]="menu">{{name}}</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/profil']">Profil</button>
    <button mat-menu-item (click)="logOut()">Se deconnecter</button>
  </mat-menu>
  <span [matBadge]="contNotif" matBadgeOverlap="true" matBadgeColor="accent"
    *ngIf="(userService.currentUser$ |async) && contNotif>0"></span>
  <button mat-raised-button color="primary" *ngIf="(userService.currentUser$ |async)" (click)="openNotif()"
    [matMenuTriggerFor]="menuNotif">
    <fa-icon [icon]="faBell"></fa-icon>
  </button>

  <mat-menu #menuNotif="matMenu">
    <mat-card *ngFor="let n of notifs">
      <h3><strong>{{n.title}} </strong>
        <mat-icon (click)="delete(n.id)" color="primary">close</mat-icon>
      </h3>
      <p>{{n.content}}</p>

    </mat-card>
  </mat-menu>



</mat-toolbar>