.logo {
  height: 50px;
}

.btn-login {
  background-color: black;
  color: white;
  border: white 1px solid;
  border-radius: 5px;
  padding: 10px 20px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  &:hover {
    background-color: rgb(37, 26, 26);
    color: white;
    border: white 1px solid;
  }
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: rgb(37, 26, 26) !important;
}
.fill-space {
  flex: 1 1 auto;
}

::ng-deep .mat-badge {
  position: relative;
  z-index: 20;
  top: -12px;
  left: 1px;
}
