<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/']"><img class="logo" src="assets/logo.png"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" [routerLink]="['/']">Voyages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="profil">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="contact">Contact</a>
                </li>
            </ul>
        </div>
        <div>
            <button class="btn-login" [routerLink]="['/login']" *ngIf="!(userService.currentUser$ |async)">Se
                connecter</button>
            <div class="dropdown" *ngIf="userService.currentUser$ |async">
                <button id="dropdownMenuButton1" class="btn-login dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false" *ngIf="(userService.currentUser$ |async) as name">{{name}}</button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" [routerLink]="['/profil']">Profil</a></li>
                    <li><a class="dropdown-item" [routerLink]="['/dashboard']">Trips</a></li>
                    <li><a class="dropdown-item" (click)="logOut()">Se deconnecter</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>