<div class="container main-cont">
    <h1>Créer un compte</h1>
    <form [formGroup]="form">
        <div class="row">
            <div class="form-group col-md-6">
                <label>Prenom</label>
                <input type="text" class="form-control" formControlName="firstname" placeholder="Prenom">
                <div class="text-danger" *ngIf="firstname.touched && firstname?.hasError('required')">
                    Prénom requis
                </div>
            </div>
            <div class="form-group col-md-6">
                <label>Nom</label>
                <input type="text" class="form-control" formControlName="lastname" placeholder="Nom">
                <div class="text-danger" *ngIf="lastname.touched && firstname?.hasError('required')">
                    Nom requis
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Email</label>
                <input type="email" class="form-control" formControlName="email" placeholder="Email">
                <div class="text-danger" *ngIf="email.touched && email?.hasError('required')">
                    Email requis
                </div>
                <div class="text-danger" *ngIf="email.touched && email?.hasError('email')">
                    Email invalid
                </div>
            </div>
            <div class="form-group col-md-6">
                <label>Mot de passe</label>
                <input type="password" class="form-control" formControlName="password" placeholder="Mot de passe">
                <div class="text-danger" *ngIf="password.touched && password?.hasError('required')">
                    Mot de passe requis
                </div>
                <div class="text-danger" *ngIf="password.touched && password?.hasError('pattern')">
                    Mot de passe invalid
                </div>
            </div>

        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Photo</label>
                <input type="file" class="form-control" (change)="onFileChange($event)" accept="image/*" />
            </div>
            <div class="form-group col-md-6">
                <label>Retaper le mot de passe</label>
                <input type="password" class="form-control" formControlName="repassword"
                    placeholder="Retaper le mot de passe">
                <div class="text-danger" *ngIf="repassword.touched && form?.hasError('missMatch')">
                    Retaper le mot de passe correctement
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Adresse</label>
            <input type="text" class="form-control" formControlName="address" placeholder="Adresse">
            <div class="text-danger" *ngIf="address.touched && address?.hasError('required')">
                Adresse requise
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Ville</label>
                <input type="text" class="form-control" formControlName="city" placeholder="Ville">
                <div class="text-danger" *ngIf="city.touched && city?.hasError('required')">
                    Ville requise
                </div>
            </div>
            <div class="form-group col-md-6">
                <label>Code postal</label>
                <input type="text" class="form-control" formControlName="postalCode" placeholder="Code postal">
                <div class="text-danger" *ngIf="postalCode.touched && postalCode?.hasError('required')">
                    Code postal requis
                </div>
                <div class="text-danger" *ngIf="postalCode.touched && postalCode?.hasError('pattern')">
                    Code postal invalid
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Telephone</label>
                <input type="text" class="form-control" formControlName="phone" placeholder="Telephone">
                <div class="text-danger" *ngIf="phone.touched && phone?.hasError('required')">
                    Telephone requis
                </div>
                <div class="text-danger" *ngIf="phone.touched && phone?.hasError('pattern')">
                    Telephone invalid
                </div>
            </div>
            <div class="form-group col-md-6">
                <mat-form-field appearance="fill">
                    <mat-label>Date de naissance</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="birthDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <div class="text-danger" *ngIf="birthDate.touched && birthDate?.hasError('required')">
                    Date de naissance requise
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid" (click)="save()">Créer</button>
    </form>
</div>