<div class="cont">
  <h2>
    <span class="text">Créer un compte</span><span class="span">
      <img class="goldT" src="./assets/img/background/signin.gif">
    </span>
  </h2>
  <form [formGroup]="form">

    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="full-width" [class.mgb15]="firstname?.dirty && firstname?.invalid">
            <input matInput placeholder="Prenom" formControlName="firstname" minlength="2" requis name="firstname" />
            <mat-error *ngIf="firstname?.dirty && firstname?.hasError('requis')">
              Prenom est <strong>request</strong>
            </mat-error>
            <mat-error *ngIf="firstname?.dirty && firstname?.hasError('minlength')">
              Prenom est <strong>2 chars min</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Nom" formControlName="lastname" minlength="2" requis name="lastname" />
            <mat-error *ngIf="lastname?.dirty && lastname?.hasError('requis')">
              Nom est <strong>requis</strong>
            </mat-error>
            <mat-error *ngIf="lastname?.dirty && lastname?.hasError('minlength')">
              Nom est <strong>2 chars min</strong>
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>

    <div class="form-group col-md-6">
      <mat-form-field appearance="fill">
        <mat-label>Date de naissance</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="birthDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div class="text-danger" *ngIf="birthDate.touched && birthDate?.hasError('required')">
        Date de naissance requise
      </div>
    </div>

    <p>
      <mat-form-field class="full-width">
        <input type="email" matInput placeholder="Email" formControlName="email" requis name="email" />
        <mat-error *ngIf="email?.dirty && email?.hasError('requis')">
          Email est <strong>requis</strong>
        </mat-error>
        <mat-error *ngIf="email?.dirty && !email?.hasError('requis') && email?.hasError('googleEmail')">
          Invalid email <strong>(ex: name.firstname@gmail.com)</strong>
        </mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="full-width">
        <input type="password" matInput placeholder="Mot de passe" formControlName="password" requis name="password"
          [type]="hide ? 'password' : 'text'" />
        <mat-error *ngIf="password?.dirty && password?.hasError('requis')">
          Mot de passe est <strong>requis</strong>
        </mat-error>
        <mat-error *ngIf="password.touched && password?.hasError('pattern')">
          Mot de passe est <strong>invalide</strong>
        </mat-error>
        <button mat-icon-button matSuffix (click)="onCLick()" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </p>


    <p>
      <mat-form-field class="full-width">
        <input type="password" matInput placeholder="Confirmation mot de passe" formControlName="repassword" requis
          name="password" [type]="hide ? 'password' : 'text'" />
        <mat-error *ngIf="repassword?.dirty && repassword?.hasError('requis')">
          Confirmation mot de passe est <strong>requis</strong>
        </mat-error>
        <mat-error *ngIf="repassword.touched && repassword?.hasError('pattern')">
          Confirmation mot de passe est <strong>invalide</strong>
        </mat-error>
      </mat-form-field>
    </p>

    <p>

      <mat-form-field class="full-width">
        <input matInput placeholder="Adresse" formControlName="address" minlength="2" requis name="address" />
        <mat-error *ngIf="address?.dirty && address?.hasError('requis')">
          Adresse est <strong>requis</strong>
        </mat-error>
        <mat-error *ngIf="address?.dirty && address?.hasError('minlength')">
          Adresse est <strong>2 chars min</strong>
        </mat-error>
      </mat-form-field>

    </p>

    <p>
      <mat-form-field class="full-width">
        <input matInput placeholder="Ville" formControlName="city" minlength="2" requis name="city" />
        <mat-error *ngIf="city?.dirty && city?.hasError('requis')">
          Ville est <strong>requise</strong>
        </mat-error>
        <mat-error *ngIf="city?.dirty && city?.hasError('minlength')">
          Ville est <strong>2 chars min</strong>
        </mat-error>
      </mat-form-field>

    </p>

    <p>
      <mat-form-field class="full-width">
        <input matInput placeholder="Code postal" formControlName="postalCode" minlength="2" requis name="postalCode" />
        <mat-error *ngIf="postalCode?.dirty && postalCode?.hasError('requis')">
          Code postal est <strong>requis</strong>
        </mat-error>
        <mat-error *ngIf="postalCode?.dirty && postalCode?.hasError('minlength')">
          Code postal est <strong>2 chars min</strong>
        </mat-error>
      </mat-form-field>

    </p>

    <p>
      <mat-form-field class="full-width">
        <input matInput placeholder="Ville" formControlName="country" minlength="2" requis name="city" />
        <mat-error *ngIf="city?.dirty && city?.hasError('requis')">
          Pays est <strong>requis</strong>
        </mat-error>
        <mat-error *ngIf="city?.dirty && city?.hasError('minlength')">
          Pays est <strong>2 chars min</strong>
        </mat-error>
      </mat-form-field>

    </p>

    <p>
      <mat-form-field class="full-width">
        <input matInput placeholder="Telephone" formControlName="phone" minlength="2" requis name="phone" />
        <mat-error *ngIf="phone?.dirty && phone?.hasError('requis')">
          Telephone est <strong>requis</strong>
        </mat-error>
        <mat-error *ngIf="phone.touched && phone?.hasError('pattern')">
          Telephone est <strong> invalide </strong>
        </mat-error>
      </mat-form-field>
    </p>



    <p>
      <input (change)="onFileChange($event)" type="file" class="form-control" accept="image/*">
    </p>
    <p>
      <mat-error *ngIf="error!=''">
        {{error}}
      </mat-error>
    </p>

    <button style="margin-right: 10px;" mat-raised-button color="warn" [disabled]="form.invalid"
      (click)="save()">S'inscrire</button>
    <button mat-raised-button color="warn" [routerLink]="['/']">Retour</button>
  </form>
</div>