<app-navbar></app-navbar>
<div class="div1">
    <img src="assets/girl_trip-wallpaper-1920x1080.jpg">
    <div>
        <h1>Lorem ipsum dolor sit amet</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in neque sapien. Sed vehicula ante sit
            amet
            massa
            auctor, sed suscipit velit congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu
            rhoncus
            lacus. Integer eget arcu venenatis, feugiat augue id, vehicula quam. Aliquam venenatis quam
            accumsan,
            venenatis
            nulla a, auctor sem. Proin suscipit elementum nisi id faucibus. Phasellus ut scelerisque magna. Nam
            commodo
            nisl
            sit amet orci commodo, eget vestibulum enim pretium. Proin interdum id neque vel feugiat.

            Aenean porta risus arcu. Pellentesque ultrices eu ante suscipit tristique. Praesent eros lectus,
            pharetra in
            lacus id, ullamcorper hendrerit metus. Sed nec mollis quam. Vestibulum tincidunt accumsan erat.
            Suspendisse
            dapibus pretium tellus sed convallis. Maecenas lobortis dignissim turpis ultrices feugiat.</p>
        <button type="button" class="btn btn-light" >Travel together</button>
    </div>
</div>
<div class="container flex">
    <div *ngFor="let t of trips; let i = index">
        <app-trip [trip]="t"></app-trip>
    </div>
</div>




<app-footer></app-footer>
