.card-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    width: 50%;
    .img-profil,
    img {
      width: 100%;
    }
  }
}

app-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
