<app-navbar></app-navbar>

<br>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <mat-card class="mat-whiteframe-2dp">
          <mat-card-content>
            <div class="card-header card-header-danger">
              <h4 class="card-title">Trips</h4>
              <app-dashboard></app-dashboard>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a>
              <img class="img-profil" [src]="user.photo||defaultImg" />
            </a>
          </div>
          <mat-card class="mat-whiteframe-2dp">
            <mat-card-content>
              <div class="card-body">
                <h4 class="card-title">{{user.firstname}} {{user.lastname}}</h4>
                <h4>Nancy, FRANCE</h4>

                <p class="card-description">
                  Don't be scared of the truth because we need to restart the human foundation in truth And I love you
                  like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                </p>

                <a href="javascript:void(0)" class="btn btn-danger btn-round"
                  [routerLink]="['/edit', user?.id]">Edit</a>
                &nbsp;&nbsp;
                <a href="javascript:void(0)" class="btn btn-danger btn-round" [routerLink]="['/create-trip']">Organiser
                  un voyage</a>


              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>