app-trip {
}

section {
  display: flex;
}

mat-grid-tile {
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.87);
  background-color: white;
  font-size: 14px;
  overflow-x: scroll;
  max-width: 400px;
}

p {
  display: inline-block;
  vertical-align: top;
}

::ng-deep .mat-grid-tile {
  overflow-x: unset;
}

mat-form-field {
  margin: 10px;
}
