<div class="container">
  <mat-dialog-content>
    <form novalidate [formGroup]="form">
      <h1>Rechercher un voyage</h1>
      <mat-form-field class="full-width">
        <input type="text" matInput placeholder="Pays" formControlName="country" requis name="country" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input type="text" matInput placeholder="Ville" formControlName="city" requis name="city" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Date de debut</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dateBegin">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Date de fin</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="dateEnd">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input type="text" matInput placeholder="Prix minimum" formControlName="pricemin" requis name="pricemin" />
        <mat-error *ngIf="form?.hasError('priceError')">
          Prix min plus grand que prix max
        </mat-error>
      </mat-form-field>



      <mat-form-field class="full-width">
        <input type="text" matInput placeholder="Prix maximum" formControlName="pricemax" requis name="pricemax" />
        <mat-error *ngIf="form?.hasError('priceError')">
          Prix min plus grand que prix max
        </mat-error>
      </mat-form-field>

    </form>
    <a mat-raised-button color="warn" (click)="find(page)">Filtrer</a>
  </mat-dialog-content>

  <mat-paginator [length]="count" [pageSize]="pageSize" (page)="find($event)" *ngIf="!!trips && trips.length>0">
  </mat-paginator>


  <div class="flex">
    <app-trip *ngFor="let t of trips;" [trip]="t"></app-trip>
    <br>

  </div>
</div>
