
app-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

section {
  display: flex;
  overflow-x: scroll;
}

mat-list-item {
  border: 1px solid rgba(0,0,0,0.1);
  color: rgba(0,0,0,0.87);
  background-color: white;
  font-size: 14px;

}

mat-list-item:hover {
  box-shadow: 0 24px 38px 3px rgba(0,0,0,.14),
  0 9px 46px 8px rgba(0,0,0,.12);
}
