html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.form-group {
  margin-bottom: 10px;
}

.form-control {
  &:focus {
    border-color: unset;
    outline: 0;
    box-shadow: unset;
  }
}

.cont {
  margin: 20px auto;
  width: 1280px;
}
